.header{
    width: 100%;
    height: 15%;
    background-color: rgb(8, 10, 19);
    .nav-bar{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10rem;
        padding: 2rem; 
        .links{
            display: flex;
            gap: 2rem;
            a{
                color: white;
                text-decoration: none;
            }
            .alone{
                color: yellow;
            }
        }
        .phone{
            display: flex;
            font-size: 1.5rem;
            color: white;
            gap: 1rem;
            p{
                color: yellow;
            }
        }
    }  
}