* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  min-height: 15vh;
  display: flex;
  padding: 0 8rem;
  background-color: rgb(7, 14, 27);
}
@media (max-width: 1115px) {
  .header {
    flex-direction: column;
  }
}
@media (max-width: 990px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}
.header .logo-container {
  width: 20%;
  height: 15vh;
  display: flex;
  align-items: center;
}
@media (max-width: 990px) {
  .header .logo-container {
    width: 10rem;
  }
}
.header .nav-bar {
  width: 80%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
}
.header .nav-bar a {
  text-decoration: none;
  color: white;
}
@media (max-width: 1115px) {
  .header .nav-bar {
    width: 90%;
  }
}
@media (max-width: 990px) {
  .header .nav-bar {
    display: none;
  }
}
.header .menu-container {
  min-width: 5%;
  height: 15vh;
  display: none;
  font-size: 2rem;
}
@media (max-width: 990px) {
  .header .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
  }
}

.hero {
  width: 100%;
  min-height: 120vh;
  background-color: #0A101E;
  color: white;
  display: flex;
  justify-content: space-between;
}
.hero .content {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem;
}
.hero .content .greet {
  color: yellow;
  font-size: 2rem;
}
.hero .content .name {
  font-size: 4rem;
}
@media (max-width: 768px) {
  .hero .content .name {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
}
.hero .content .job {
  font-family: sans-serif;
  font-size: 2rem;
}
.hero .content .call-to-action {
  width: 100%;
  height: 100%;
}
.hero .content .btn {
  width: 40%;
  padding: 1rem 3rem;
  border-radius: 2rem 2rem 2rem 2rem;
  background-color: orange;
  border: none;
}
.hero .pic-container {
  width: 50%;
  height: 115vh;
}
.hero .pic-container img {
  width: 100%;
  height: 100%;
}
@media (max-width: 990px) {
  .hero .pic-container {
    display: none;
  }
}

.about-me {
  width: 100%;
  min-height: 120vh;
  background-color: #0A101E;
}
@media (max-width: 768px) {
  .about-me {
    display: flex;
    flex-direction: column;
  }
}
.about-me .intro {
  width: 30%;
  height: 30%;
  color: yellow;
  font-size: 2rem;
  display: flex;
  margin: 0 auto;
}
.about-me .personal-details {
  width: 100%;
  height: 100vh;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.about-me .personal-details .picture-container {
  width: 40%;
  height: 90vh;
  margin-left: 5rem;
  margin-top: 2rem;
}
.about-me .personal-details .picture-container img {
  width: 100%;
  height: 100%;
}
.about-me .personal-details .job-detailes {
  width: 50%;
  height: 100vh;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.about-me .personal-details .job-detailes .hi {
  color: white;
}
.about-me .personal-details .job-detailes .visual {
  color: yellow;
  font-size: 1.5rem;
}
.about-me .personal-details .job-detailes .am {
  color: white;
}
.about-me .personal-details .job-detailes .cv {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
}
.about-me .personal-details .job-detailes .btn-2 {
  width: 30%;
  height: 200%;
  border-radius: 2rem 2rem 2rem 2rem;
  background-color: orange;
  border: none;
}

.services {
  width: 100%;
  min-height: 100vh;
  background-color: #0A101E;
}
.services .service-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 2rem;
  color: orange;
}
.services .service-cards {
  width: 100%;
  min-height: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem 4rem;
}
@media (max-width: 768px) {
  .services .service-cards {
    padding: 1rem 1rem;
  }
}
.services .service-cards .card1 {
  width: 100%;
  height: 50vh;
  background-color: rgb(16, 22, 36);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 768px) {
  .services .service-cards .card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.services .service-cards .card1 .picture {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .service-cards .card1 .picture .pen {
  width: 5.4rem;
  height: 5.4rem;
  background-color: #070D1B;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .service-cards .card1 .picture .pen img {
  width: 60%;
  height: 60%;
  color: gray;
}
.services .service-cards .card1 .sk {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.services .service-cards .card1 .lo {
  color: grey;
  padding: 0 2rem;
}

.skills {
  width: 100%;
  height: 100%;
  background-color: #070D1B;
}
.skills .my-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: yellow;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .skills .my-skills {
    display: flex;
  }
}
.skills .skill-level {
  width: 100%;
  height: 80%;
  display: flex;
  gap: 1rem;
  color: white;
  padding: 3rem;
}
.skills .skill-level .description {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
}
.skills .skill-level .description h2 {
  font-size: 2rem;
}
.skills .skill-level .skill-rating {
  width: 50%;
  height: 100%;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.skills .skill-level .skill-rating .photoshop {
  display: flex;
  justify-content: space-between;
}
.skills .skill-level .skill-rating .motion-graphics {
  display: flex;
  justify-content: space-between;
}
.skills .skill-level .skill-rating .adobe-xd {
  display: flex;
  justify-content: space-between;
}
.skills .skill-level .skill-rating .ux-design {
  display: flex;
  justify-content: space-between;
}
.skills .skill-level .skill-rating .html {
  display: flex;
  justify-content: space-between;
}
.skills .skill-level .skill-rating .digital-marketing {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */